.main-common {
    background-color: #F4F3F3;
    margin-top: 90px;
}

.common-content {
    max-width: 1152px;
    margin: 0 auto;
    padding-top: 90px;
    display: flex;

}

.common-content img {
    width: 564px;
    height: 600px;
}

.common-content .content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 564px;
    height: 554px;
    border-radius: 50px;
    padding-top: 23px;
}

.common-content .content-right h1 {
    font-family: Days One;
    font-size: 60px;
    font-weight: 400;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;
}

.common-content .content-right h1 span {
    color: #567E32;
}

.common-content .content-right strong {
    font-family: Montserrat;
    font-size: 27px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}


.common-content .content-right button {
    width: 294px;
    height: 73px;
    padding: 20px 30px 20px 30px;
    border-radius: 50px;
    background-color: #297C35;
    border: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 27px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
}

.main-feedback .mySlides {
    display: none
}

.main-feedback {
    display: flex;
    max-width: 1152px;
    margin: 0 auto 91px auto;
    background-color: #DAE3DB;
    height: 900px;
}

.main-feedback img {
    width: 366px;
}

.main-feedback .content-slider {
    width: 786px;
    padding: 10px 30px 10px 0;
}

.main-feedback .content-slider h1 {
    color: #403D38;
    text-align: center;
    font-size: 50px;
    font-family: Days One;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 29px;
}

.main-feedback .content-slider h1 span {
    color: #567E32;
}

.main-feedback .content-slider .custom_slider {
    /* display: flex; */
    height: 430px;
    /* justify-content: center;
    align-items: center; */
    margin: 96px 118px 177px 118px;
}

.main-feedback .content-slider .custom_slider .slider-container {
    display: flex;
    height: 430px;
    align-items: end;
    position: relative;
}

.main-feedback .content-slider .custom_slider .slider-container .customer {
    width: 140px;
    height: 140px;
    border-radius: 140px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 70px;
}

.main-feedback .content-slider .custom_slider .slider {
    position: relative;
    width: 520px;
    height: 370px;
    border-radius: 20px;
    background: #567E32;
    display: flex;
    flex-direction: column;
    bottom: -60px;
}

.main-feedback .content-slider .custom_slider .slider .star {
    display: flex;
    justify-content: space-between;
    width: 230px;
    height: 36px;
    margin-top: 40px;
    margin-left: 50px;
}

.main-feedback .content-slider .custom_slider .slider .star img {
    height: 36px;
    width: auto;
}

.main-feedback .content-slider .custom_slider .slider span {
    color: #FFF;
    font-size: 18px;
    font-family: Days One;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 44px 40px 20px 40px;
}

.main-feedback .content-slider .custom_slider .slider h2 {
    color: #FFF;
    font-size: 30px;
    font-family: Days One;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 40px;
}

.main-feedback .content-slider .btn-next-pr {
    width: 170px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 76px;
    margin-left: 175px;
}

.main-feedback .content-slider .btn-next-pr button {
    width: 20px;
    height: 20px;
    background-color: #567E3280;
    border: 0;
    border-radius: 100%;

}

.main-feedback .content-slider .btn-next-pr .active {
    background-color: #567E32;
}

.plants-container {
    margin-bottom: 100px;
}

.plants-group {
    --f-columns: 4;
    --f-gap: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--f-gap));
    margin-bottom: calc(-1 * var(--f-gap));
}

.plants-group>* {
    margin-left: var(--f-gap);
    margin-bottom: var(--f-gap);
    width: calc((100% / var(--f-columns) - var(--f-gap)));
    aspect-ratio: 3/4;
}

@media screen and (max-width: 768px) {
    .plants-group {
        --f-columns: 3;
        --f-gap: 20px;
    }
}

.plants-group .plants-image {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.plants-group .plants-item {
    position: relative;
}

.plants-item .plants-item__overlay {
    position: absolute;
    z-index: -1;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 100%;
    height: 45%;
    bottom: 0;
    transition: all 0.25s linear;
}

.plants-item button {
    position: absolute;
    bottom: -100%;
    transition: all 0.25s linear;
    border: none;
    outline: none;
    padding: 5px 15px;
    background-color: #fff;
    color: #567E32;
    font-size: 13px;
    border-radius: 15px;
    font-family: "Days One", sans-serif;
    font-weight: 400;
}

.plants-item button {
    position: absolute;
    bottom: -100%;
    transition: all 0.25s linear;
    border: none;
    outline: none;
    padding: 5px 15px;
    background-color: #fff;
    color: #567E32;
    font-size: 13px;
    border-radius: 15px;
    font-family: "Days One", sans-serif;
    font-weight: 400;
}

.plants-item .text-group {
    position: absolute;
    z-index: 1;
    width: 50%;
    bottom: 0;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 45%;
    padding: 10px 0;
    overflow: hidden;
    transition: all 0.25s linear;
}

.text-group .icon-custom {
    color: #fff;
    font-size: 20px;
}

.text-group .name {
    font-size: 15px;
    color: #000;
    text-align: right;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.text-group .price {
    font-size: 20px;
    color: #000;
    text-align: right;
}

.plants-item:hover button {
    bottom: 10px;
}

.plants-item:hover .plants-item__overlay {
    background-color: #537E2E;
    height: 50%;
}

.plants-item:hover .text-group {
    padding-bottom: 50px;
    height: 50%;
    color: #fff;
}

.plants-item:hover .text-group .name {
    font-size: 15px;
    color: #fff;
}

.plants-item:hover .text-group .price {
    font-size: 20px;
    color: #fff;
    text-align: right;
}
.plants-item .plants-image img{
    transition: all 0.25s linear;
}
.plants-item:hover .plants-image img {
    transform: scale(1.1) translateY(-0.5vw);
}
@media only screen and (max-width: 768px) {
    .common-content {
        flex-direction: column-reverse;
        max-width: 570px;
        margin: 0 auto;
        padding-top: 49px;
    }

    .common-content .content-right h1 {
        margin: 0;
        font-size: 45px;
        text-align: center;
        line-height: normal;
        margin-bottom: 47px;
    }

    .common-content .content-right strong {
        font-size: 21px;
        line-height: normal;
    }

    .common-content .content-right button {
        display: none;
    }

    .common-content .content-right {
        padding-top: 30.5px;
        height: auto;
    }

    .main-selling {
        max-width: 691px;
        height: 411px;
        margin: 72px 37px 75px 40px;
        justify-content: unset;
    }

    .main-selling .selling-title {
        width: 100%;
        height: 65px;
    }

    .main-selling .selling-title h1 {
        font-size: 30px;
    }

    .main-selling .selling-plant {
        width: 100%;
        height: 333px;
        padding: 0;
        gap: 27px;
    }

    .main-selling .plant-list .plant-img {
        bottom: 0;
    }

    .main-selling .plant-list .plant-img img {
        width: 102px;
        height: 260px;
    }


    .main-selling .plant-list .plant-content {
        width: 200px;
        height: 104px;
    }

    .main-selling .plant-list .plant-img_short img {
        width: 118.653px;
        height: 125.431px;
    }

    .main-selling .plant-list .plant-img_short {
        bottom: -3px;
    }

    .main-selling .plant-list .plant-content .tittle,
    .main-selling .plant-list .plant-content .total {
        font-size: 12px;
    }

    .main-feedback {
        max-width: 686px;
        margin: 0 auto 41.78px auto;
        height: 420.216px;
    }

    .main-feedback .content-slider {
        padding: 0;
    }

    .main-feedback .content-slider h1 {
        font-size: 30px;
        padding-top: 18.21px;
        padding-left: 68.32px;
        text-align: left;
    }

    .main-feedback .content-slider .custom_slider {
        margin: 30px 0 0 104px;
    }

    .main-feedback .content-slider .custom_slider .slider {
        width: 250px;
        height: 181.703px;
    }

    .main-feedback .content-slider .custom_slider .slider-container .customer {
        width: 80px;
        height: 76.507px;
        left: 155px;
        top: 22px;
    }

    .main-feedback .content-slider .custom_slider .slider span {
        font-size: 10px;
        margin: 13.39px 15px;
    }

    .main-feedback .content-slider .custom_slider .slider .star {
        width: 79.602px;
        height: 11.476px;
        margin-top: 13.39px;
        margin-left: 18px;
    }

    .main-feedback .content-slider .custom_slider .slider .star img {
        width: 8.72px;
        height: 11.48px;
    }

    .main-feedback .content-slider .custom_slider .slider h2 {
        margin: 0;
        font-size: 15px;
        padding-left: 14px;
    }

    .main-feedback .content-slider .custom_slider .slider-container {
        height: 219px;
        width: 250px;
    }
    .main-feedback .content-slider .btn-next-pr{
        display: none;
    }

}