@import url('https://fonts.googleapis.com/css2?family=Alice&family=David+Libre&family=Days+One&family=Delius&family=Great+Vibes&family=Lato&family=Montserrat&display=swap%27');

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F4F3F3;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1192px;
    padding: 0 20px;
    margin: 0 auto;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    height: 90px;
    border: 1px;
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    top:0;
}

.header-mw {
    display: flex;
    max-width: 1152px;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-items: center;
    width: 194px;
    height: 90px;
}

.logo .header-logo {
    width: 90px;
    height: 90px;
}

.logo .header-logo_name {
    position: relative;
    width: 120px;
    height: 50px;
    top: 20px;
    left: -16px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 647px;
    height: 90px;
    gap: 40px;
    margin-left: 119px;
}

.navbar a {
    position: relative;
    font-family: Days One;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(161, 163, 154, 1);
    text-decoration: none;
    align-items: center;
}

.navbar-icon {
    display: flex;
    position: relative;
    top: 30px;
    gap: 34px;
    margin-left: 102px;
    width: 95px;
    height: 30px;
}

.navbar-icon img {
    width: 30px;
    height: 30px;
    border: 3px;
}

/* header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #e9e9e9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 90px;
}

@media only screen and (max-width: 768px) {
    header {
        background-color: var(--primary-color);
        height: 80px;
    }
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

.menu__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__desktop .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__desktop .logo img {
    height: 80px;
}

.menu__desktop .navbar--items {
    list-style: none;
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    gap: 40px;
}

.menu__desktop .navbar--items a {
    color: #a1a39a;
}

.menu__desktop .navbar--items a:hover {
    color: #5d5e5c;
}

@media only screen and (min-width: 769px) and (max-width: 1439px) {
    .menu__desktop .navbar--items {
        font-size: 1.8vw;
        gap: 1.8vw;
    }
}

.menu__mobile {
    width: 100%;
}

.menu__mobile:not(.active) {
    justify-content: center;
}

.menu__mobile:not(.active) .logo--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__mobile:not(.active) .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.menu__mobile:not(.active) .logo img {
    height: 70px;
}

.menu__mobile:not(.active) .menu--button {
    justify-content: space-between;
    padding-block: 23px;
}

.menu__mobile:not(.active) nav {
    display: none;
}

.menu__mobile.active .logo--wrapper {
    display: flex;
    justify-content: flex-end;
}

.menu__mobile.active .logo {
    display: none;
}

.menu__mobile.active .menu--button {
    justify-content: center;
    padding-block: unset;
}

.menu__mobile.active span.line__white:nth-child(1) {
    transform: rotate(-45deg) translate(-4px, 0px);
}

.menu__mobile.active span.line__white:nth-child(2) {
    display: none;
}

.menu__mobile.active span.line__white:nth-child(3) {
    transform: rotate(45deg) translate(-2px, 0px);
}

.menu__mobile.active nav {
    background-color: var(--tertiary-color);
    -webkit-padding-after: 40px;
    padding-block-end: 40px;
    height: calc(100vh - 80px);
    width: 100vw;
}

.menu__mobile.active nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.menu__mobile.active nav ul li a {
    text-decoration: none;
    font-size: 25px;
    color: var(--white-color);
}

.menu__mobile .menu--button {
    aspect-ratio: 1/1;
    height: 80px;
    padding-inline: 18px;
    display: flex;
    flex-direction: column;
}

.menu__mobile .menu--button span.line__white {
    height: 4px;
    background-color: var(--white-color);
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 95px;
}

.icons img {
    width: 30px;
    height: 30px;
} */

/* Footer */
footer {
    height: 500px;
    background: rgba(86, 126, 50, 1);
}

.footer-top {
    padding-top: 30px;
    display: flex;
    width: 100%;
    border-bottom: 3px solid #FFFFFF;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 24px);
}

.footer-top_information {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

.footer-top-logo {
    display: flex;
    justify-items: center;
    width: auto;
    height: 90px;
}

.footer-top .footer-top_information .header-logo {
    height: 90px;
}

.footer-top .footer-top_information .header-logo_name {
    position: relative;
    width: 165.69px;
    height: 60.4px;
    top: 20px;
}

.footer-top p {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 38px;
}

.footer-top_icon {
    display: flex;
    width: 113.20845794677734px;
    height: 37px;
    justify-content: space-between;
}

.footer-top .footer-top_icon img {
    width: 30px;
    height: 30px;
}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 24px);
}

.footer-center .join-us {
    margin-bottom: 28px;
}

.footer-center h1,
.footer-center h2 {
    margin: 0;
    color: #fff;
    font-family: Days One;
    text-align: center;
    font-weight: 400;
}

.footer-center h1 {
    font-size: 25px;
    padding-bottom: 15px;
}

.footer-center h2 {
    font-size: 15px;
}

.footer-center input {
    border-radius: 40px;
    background-color: #FFFFFF;
    border: none;
    padding: 26px 25px;
    width: 100%;
    margin-bottom: 30px;
}

.footer-center button {
    padding: 26px 25px;
    width: 100%;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-family: Days One;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    color: #297C35;
}

.footer-center input[placeholder] {
    text-align: center;
    font-family: Days One;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    color: #A5A5A5;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    width: calc(100% / 3 - 24px);
    height: 277px;
}

.footer-right_menu,
.footer-right_information {
    display: flex;
    flex-direction: column;
}

.footer-right_menu ul li,
.footer-right_information ul li {
    list-style: none;

}

.footer-right_menu ul li a,
.footer-right_information ul li a {
    margin: 0;
}

.footer-right_menu ul li:not(:last-child),
.footer-right_information ul li:not(:last-child) {
    margin-bottom: 23px;
}

.footer-right_menu h1,
.footer-right_information h1 {
    font-family: Days One;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin: 0 0 33px 0;

}

.footer-right_menu a,
.footer-right_information a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: left;
}

.footer-desc {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-desc h3 {
    color: #ffffff;
    font-family: Days One;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 40.25px;
}

.footer-desc_icon {
    display: flex;
    width: 180px;
    height: 50px;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 17.25px;
}

@media only screen and (max-width: 768px) {
    .footer {
        height: 600px;

    }

    .footer-top {
        flex-direction: column;
        padding-top: 20px;
        margin-left: 43px;
        margin-right: 35px;
    }

    .footer-left {
        width: 100%;
        border-bottom: 3px solid #fff;
    }

    .footer-top .footer-top_information .header-logo {
        width: 77.845px;
        height: 66.825px;
    }

    .footer-top .footer-top_information .header-logo_name {
        width: 132px;
        height: 55.687px;
        top: 12px;
    }

    .footer-top .footer-left p {
        line-height: normal;
    }

    .footer-top .footer-left .footer-top_icon {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        gap: 11px;
    }

    .footer-top .footer-left .footer-top_icon img {
        height: 39px;
        width: 39px;
    }


    .footer-center {
        flex-direction: row;
        width: 100%;
        margin-top: 27.71px;
        margin-bottom: 29.91px;
        border-bottom: 3px solid #fff;
        justify-content: unset;
    }

    .footer-center h1 {
        font-size: 20px;
        padding: 0;
        text-align: left;
    }

    .footer-center h2 {
        font-size: 14px;
        text-align: left;
    }

    .footer-center .join-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 28px;
    }


    .footer-center button {
        width: 157px;
        height: 54.39px;
    }

    .footer-center button,
    .footer-center input[placeholder] {
        font-size: 15px;
    }

    .footer-right {
        width: 100%;
        height: 42.091px;
        margin: 31.12px 0 39.36px 0;
    }

    .footer-right .footer-right_menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;

    }

    .footer-right .footer-right_information {
        display: none;
    }

    .footer-right .footer-right_menu h1 {
        font-size: 20px;
        padding-right: 80px;
    }

    .footer-desc {
        margin-left: 43px;
        margin-right: 35px;
        align-items: center;
    }

    .footer-desc h3 {
        font-size: 13px;
        margin: 0;
    }

    .footer-desc_icon {
        margin: 0;
        align-items: center;
    }

    .footer-desc_icon img {
        width: 40px;
        height: 27.776px;
    }
}