@import url('https://fonts.googleapis.com/css2?family=Alice&family=David+Libre&family=Days+One&family=Delius&family=Great+Vibes&family=Lato&family=Montserrat&display=swap%27');

html {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #F4F3F3;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    height: 90px;
    border: 1px;
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    top:0;
}

.header-mw {
    display: flex;
    max-width: 1152px;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-items: center;
    width: 194px;
    height: 90px;
}

.logo .header-logo {
    width: 90px;
    height: 90px;
}

.logo .header-logo_name {
    position: relative;
    width: 120px;
    height: 50px;
    top: 20px;
    left: -16px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 647px;
    height: 90px;
    gap: 40px;
    margin-left: 119px;
}

.navbar a {
    position: relative;
    font-family: Days One;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(161, 163, 154, 1);
    text-decoration: none;
    align-items: center;
}

.navbar-icon {
    display: flex;
    position: relative;
    top: 30px;
    gap: 34px;
    margin-left: 102px;
    width: 95px;
    height: 30px;
}

.navbar-icon img {
    width: 30px;
    height: 30px;
    border: 3px;
}

/* Footer */
footer {
    height: 500px;
    background: rgba(86, 126, 50, 1);
}

.footer-top {
    max-width: 1152px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    border-bottom: 3px solid #FFFFFF;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 372px;
    height: 352px;
    margin-bottom: 22.75px;
}

.footer-top_information {
    display: flex;
    align-items: center;
}

.footer-top-logo {
    display: flex;
    justify-items: center;
    width: auto;
    height: 90px;
}

.footer-top .footer-top_information .header-logo {
    width: 111.14px;
    height: 94.05px;
}

.footer-top .footer-top_information .header-logo_name {
    position: relative;
    width: 165.69px;
    height: 60.4px;
    top: 20px;
}

.footer-top strong {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.footer-top_icon {
    display: flex;
    width: 113.20845794677734px;
    height: 37px;
    justify-content: space-between;
}

.footer-top .footer-top_icon img {
    width: 30px;
    height: 30px;
}

.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 282px;
    width: 416px;
}

.footer-center h1,
.footer-center h2 {
    margin: 0;
    color: #fff;
    font-family: Days One;
    text-align: center;
    font-weight: 400;
}

.footer-center h1 {
    font-size: 25px;
    padding-bottom: 15px;
}

.footer-center h2 {
    font-size: 15px;
}

.footer-center input {
    width: 361px;
    height: 83.35px;
    border-radius: 40px;
    background-color: #FFFFFF;
    border: none;
}

.footer-center button {
    width: 361px;
    height: 72px;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-family: Days One;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    color: #297C35;
}

.footer-center input[placeholder] {
    text-align: center;
    font-family: Days One;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    color: #A5A5A5;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    width: 359px;
    height: 277px;
}

.footer-right_menu,
.footer-right_information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-right_menu h1,
.footer-right_information h1 {
    font-family: Days One;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin: 0;

}

.footer-right_menu a,
.footer-right_information a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: left;
}

.footer-desc {
    display: flex;
    max-width: 1152px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-desc h3 {
    color: #ffffff;
    font-family: Days One;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 40.25px;
}

.footer-desc_icon {
    display: flex;
    width: 180px;
    height: 50px;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 17.25px;
}



.container {
    display: flex;
    max-width: 1152px;
    height: 827px;
    margin: 102px auto 0 auto;
    background-color: #f4f3f3;
}

.left-news {
    width: 662px;
    height: 100%;
    background-color: #f9f9f9;
}

.news-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 564px;
    height: 168px;
    top: 12px;
}

.title {
    width: 479px;
    text-align: center;
    z-index: 10;
}

.title p {
    color: #297c35;
    text-transform: uppercase;
    font-family: Days One;
    font-weight: 400;
    font-size: 40px;
    line-height: 50.92px;
}

.title p span {
    color: #403d38;
}

.title p span:nth-child(2) {
    color: #567e32;
}

.rec-white {
    position: absolute;
    width: 550px;
    height: 143px;
    border: 3px solid #297c35;
    background-color: #ffffff;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.rec-green {
    position: absolute;
    width: 550px;
    height: 143px;
    background: #c0d3c480;
    bottom: 0px;
    left: 0px;
    z-index: 5;
}

.best-news {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 662px;
    height: 201px;
    top: 41px;
}

.best-news img {
    width: 327px;
    height: 200.332px;
    object-fit: cover;
}

.best-one {
    position: relative;
    width: 327px;
    height: 201px;
}

.best-two {
    position: relative;
    width: 327px;
    height: 201px;
}

.best-img {
    width: 327px;
    height: 201px;
}

.best-text {
    width: 327px;
    height: 82px;
    background-color: #e7eddd;
    position: absolute;
    bottom: 0px;
}

.best-text p {
    font-family: David Libre;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #297c35;
    margin-top: 13px;
    margin-left: 20px;
    text-transform: uppercase;
}

.main-news {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 662px;
    height: 384px;
    top: 58px;
    background-color: #f4f3f3;
}

.list-news {
    display: flex;
    flex-direction: column;
    width: 427px;
    height: 384px;
}
.list-news li {
    list-style-type: none;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.list-news .content-new .index p{
    color: #000;
font-family: Dongle;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.content-new {
    display: flex;
    width: 427px;
    height: 68px;
    border-bottom: 2px solid #e7eddd;
}

.index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 68px;
    margin: 0;
    background-color: #e7eddd;
}

.index p {
    font-family: Dongle;
    font-weight: 400;
    font-size: 25px;
    line-height: 36.2px;
}

.detail-new {
    width: 353px;
    height: 68px;
    margin: 0;
    padding-left: 24px;
    padding-right: 0px;
    background-color: #ffffff;
}

.detail-new p {
    font-family: David Libre;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
}

.view-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 427px;
    height: 41px;
    background-color: #c0d3c480;
}

.view-more a {
    color: #297C35;
    font-family: David Libre;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-right: 14px;
}

.slide-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 226px;
    height: 384px;
    padding-top: 5px;
    border: 2px solid #297c35;
    background-color: #f3f8ea;
}

.slide-img {
    width: 211.55px;
    height: 298.3px;
    
}
.slide-img .contact-mySlides{
    display: none;
}
.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #297C35;
}

.text-event {
    width: 226px;
    height: 32px;
    text-align: center;
}

.text-event p {
    font-family: Alice;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #567e32;
    padding-top: 18px;
}

.text-event span {
    text-transform: uppercase;
    color: #5d5e5c;
}

.right-news {
    width: 466px;
    height: 838px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 24px;
  }
  
  .bonsai {
    position: relative;
    width: 269px;
    height: 345px;
    /* top: 25px; */
    display: flex;
    justify-content: center;
  }
  
  .elipse-top {
    width: 248.3px;
    height: 241px;
    margin-top: 10px;
    border-radius: 50%;
    background: linear-gradient(180deg, #c84848 0%, rgba(200, 72, 72, 0) 100%);
  }
  
  .bonsai-img {
    position: absolute;
    bottom: 8px;
    left: 0px;
    z-index: 10;
  }
  .elipse-bot {
    position: absolute;
    width: 233.5px;
    height: 41.65px;
    bottom: 0px;
    background: rgba(217, 217, 217, 1);
    box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    z-index: 1;
  }
  
  .side-news {
    width: 419px;
    height: 402px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .news {
    position: relative;
    width: 416px;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
  }
  .news img{
    object-fit: cover;
  }
  
  #size-img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border-radius: 20px;
  }
  #news-text {
    font-family: David Libre;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 11px 0 15px;
  }
  #author {
    position: absolute;
    width: 125px;
    height: 14px;
    right: 10px;
    bottom: 0;
    font-family: David Libre;
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(41, 124, 53, 1);
    margin-right: 16px;
    margin-bottom: 11px;
  }