.notification .container {
    margin: 174px auto 89px auto;
}

.notification .wraper {
    max-width: 1152px;
    background-color: #214935;
    display: flex;
    position: relative;
}


.notification .container .background-img {
    position: absolute;
    bottom: 0;
}

.notification .container .background-img img {
    width: 215px;
    height: 125px;
}

.notification .content-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 612px;
    height: 262px;
    border-radius: 30px 0px;
    background-color: #FFF;
    margin-left: 74px;
    margin-top: 26px;
}

.notification .content-center h1 {
    color: #789D5C;
    font-size: 50px;
    font-family: Days One;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.notification .content-center h1 span {
    color: #297C35;
    font-size: 60px;
}

.notification .content-center h2 {
    color: #000;
    font-size: 35px;
    font-family: Delius;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.notification .content-center .btn-shop button {
    width: 244px;
    height: 58px;
    border-radius: 15px;
    border: none;
    background-color: #297C35;
    color: #FFF;
    font-size: 30px;
    font-family: Days One;
    font-weight: 400;
    text-align: center;
}

.notification .content-right {
    position: relative;
    margin-top: 25px;
    margin-left: 73px;
}

.notification .content-right div {
    width: 318px;
    height: 290px;
    border-radius: 100px 100px 0px 0px;
    background-color: #FFF;
}

.notification .content-right img {
    position: absolute;
    z-index: 1;
    width: 318px;
    height: 299px;
    top: -22px;
}







.our-plant .container {
    /* position: relative; */
    /* width: 1152px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin: 0 auto; */
}

.our-plant .title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 1152px; */
    height: 106px;
    background-color: #c0d3c4;
}

.our-plant .title p {
    /* width: 412px; */
    color: #567e32;
    font-family: Days One;
    font-weight: 400;
    font-size: 50px;
    line-height: 63.65px;
    text-align: center;
}


.our-plant .title span {
    color: black;
}

.our-plant .list-items {
    margin-top: 84px;
}


.our-plant .list-items .list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.list-items {
    --f-columns: 4;
    --f-gap: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--f-gap));
    margin-bottom: calc(-1 * var(--f-gap));
}

.list-items>.item {
    margin-left: var(--f-gap);
    margin-bottom: 50px;
    padding: 10px 23px 0 23px;
    width: calc((100% / var(--f-columns) - var(--f-gap)));
}

@media screen and (max-width: 992px) {
    .list-items {
        --f-columns: 3;
        --f-gap: 24px;
    }
}

@media screen and (max-width: 768px) {
    .list-items {
        --f-columns: 3;
        --f-gap: 24px;
    }

    .list-items>.item {
        padding: 10px 12px 18px 12px;
    }
}
@media screen and (max-width: 650px) {
    .list-items {
        --f-columns: 2;
        --f-gap: 24px;
    }

    .list-items>.item {
        padding: 10px 12px 18px 12px;
    }
}
@media screen and (max-width: 420px){
    .list-items {
        --f-columns: 1;
        --f-gap: 24px;
    }

    .list-items>.item {
        padding: 10px 12px 18px 12px;
    }
}

.our-plant .list-items .item {
    position: relative;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 2px solid rgba(86, 126, 50, 1);
}

.our-plant #list2 {
    margin-top: 47px;
}

.our-plant .item-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    z-index: 10;
}

.our-plant .item-image {
    width: 100%;
    height: 56%;
    object-fit: cover;
    aspect-ratio: 1;
}

.our-plant .item-image img {
    margin: 0 auto;
    height: 95%;
}

.our-plant .item-name,
.our-plant .item-eval {
    margin-bottom: 11px;
}

.our-plant .item-name p {
    color: #000;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.our-plant .list-items .item-eval {
    display: flex;
    height: 19px;
    gap: 10px;
}

.our-plant .item-eval img {
    width: 19px;
    height: 19px;
}

.our-plant .item-price {
    margin-bottom: 22px;
}

.our-plant .item-price p {
    color: rgba(0, 0, 0, 1);
    font-family: Montserrat;
    font-weight: 400;
    font-size: 17px;
    line-height: 20.26px;
}

.our-plant .item-price del {
    color: rgba(83, 126, 46, 1);
}

.our-plant .item-buy {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 16px;
}

.our-plant .item-buy .details button {
    display: flex;
    align-items: center;
    padding: 5px 16px;
    border-radius: 50px;
    gap: 10px;
    background: rgba(165, 202, 138, 1);
    border: none;
    color: #FFF;
    font-family: Days One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.our-plant .item-buy .add button {
    width: 85.17px;
    height: 30px;
    padding: 4px 8px 4px 8px;
    border-radius: 50px;
    gap: 10px;
    color: #ffffff;
    background: rgba(120, 157, 92, 1);
    border: none;
    font-family: Days One;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.our-plant .btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.our-plant .btn {
    margin: 65px 0px 108px 0px;
}



.our-plant .btn button {
    width: 262px;
    height: 65px;
    font-family: Days One;
    font-weight: 400;
    font-size: 20px;
    line-height: 25.46px;
    border-radius: 50px;
    padding: 20px 63px 20px 63px;
    color: #ffffff;
    background-color: #789d5c;
    border: none;
}

.our-plant .item-price .none {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1120px) {
    .notification .content-center h1{
        font-size:30px;
        

    }
    .notification .content-center h1 span{
        font-size: 40px;
    }
    .notification .content-center h2{
        font-size:20px;
    }
}

@media only screen and (max-width: 768px) {
    .notification .container {
        width: 728px;
        height: 160px;
        margin: 50px 0 ;
    }

    .notification .content-center {
        width: 365.5px;
        height: 133.079px;
        flex-shrink: 0;
        margin-left: 44px;
        margin-top: 13px;
    }

    .notification .content-center h1 {
        padding: 0;
    }

    .notification .content-center h1,
    .notification .content-center h1 span {
        font-size: 33px;
    }

    .notification .content-center h2 {
        font-size: 20px;
        padding: 0;
        text-align: center;
    }

    .notification .container .background-img img {
        width: 128.494px;
        height: 74px;
    }

    .notification .content-center h1 {
        padding: 13.21px 0 0 20px;
    }

    .notification .content-center .btn-shop {
        padding: 10px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .notification .content-center .btn-shop button {
        font-size: 15px;
        width: 158px;
        height: 38px;
    }

    .notification .content-right {
       margin-left: 44px;
       margin-top: 13px;
    }
    .notification .content-right div{
        width: 190px;
        height: 147px;
    }
    .notification .content-right img{
        width: 190px;
        height: 147px;
        top: -10px;
    }


    .our-plant .container {
        max-width: 728px;
        margin: 0 auto;
    }

    .our-plant .title {
        width: 100%;
        height: 65px;
    }

    .our-plant .title p {
        font-size: 30px;
    }

    .our-plant .list-items {
        width: 100%;
        margin-top: 45px ;
    }

    /* .our-plant .none {
        display: none;
    } */


    .our-plant .item-name {
        margin-top: 5px;
        margin-left: 14.73px;
    }

    .our-plant .list-items .item-eval {
        width: 111.319px;
        height: 17.612px;
        margin-left: 12.28px;
    }

    .our-plant .item-price .none {
        display: block;
    }


    .our-plant .item-buy .details button {
        padding: 5px 7px;
        gap: 7px;
    }

    .our-plant .item-buy .add button {
        padding: 4px 0px;
    }

    .our-plant .btn {
        margin: 15px 0px 50px 0px;
    }

    .our-plant .btn button {
        width: 200px;
        height: 40px;
        font-size: 15px;
        padding: 0;
    }

}